body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
button:focus, input:focus, textarea:focus, select:focus {
    outline: none;
  }

.logo{
    height: 85px;
    /* margin-left: 20% !important; */
}
.collapse ul li a{
    font-weight: 800;
}
.m-top{
    margin-top: 120px !important;
}
.bg-A{
    background-color: #2A5378;
}
nav{
    display: flex !important;
    justify-content: space-between !important;
}
.list{
    margin-left: 50%;

}
.slid-hight{
    height: 800px;
    object-fit: cover;
}
.shad{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.479) !important;
    width: 100%;
    height: 800px;
    top: 0;
}
.shad div h1{
    font-weight: 900;
    font-size: 70px;
    
}
.shad div{
    width: fit-content;
}
.title h1{
    color: #10182F !important;
    font-weight: 800;
    border-bottom: 10px solid #14BF5F;
    width: fit-content;
}
@media only screen and (max-width:900px){
    .shad div{
        width: fit-content !important;
    }
    .shad div h1{
        font-weight: 900;
        font-size: 50px;
        
    }
    .para_1{
        width: 90% !important;
    }

}
.para_1 h5{
    font-size: larger;
    font-weight: 700;
    line-height: 30px;
}
.para_1{
    width: 40%;
    padding: 60px !important;
}
.services_section{
    background-image: url('../img/ruben-bagues-wplxPRCF7gA-unsplash (1).jpg');
    height: auto;
    
    /* object-fit: cover; */
}
.services_section_shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664) !important;
}
.services_section_shadow h1{
    border-bottom: 5px solid #14BF5F;
    font-weight: 700;
    width: fit-content;
    margin: auto;
}
.services p{
   font-size: larger;
   font-weight: 600;
}
.services p i{
    color: #14BF5F;
    font-size: x-large;
    
}
.haight_2{
    /* height: 600px !important; */
    overflow: hidden;
}
.haight_2 img{
    object-fit: cover;
    
}
.branch_list li{
    margin: 20px;
    list-style: none;
    font-size: large;
    font-weight: 700;
}
.branch_list_title h1{
    border-bottom: 5px solid #14BF5F;
    font-weight: 700;
    width: fit-content;
    margin: auto;
}
.branch_list li i{
    font-size: larger;
    color: #14BF5F;
}
.footer_contact h6{
    font-weight: 700;
}
.footer_contact h6 i{
    font-size: larger;
}


/* contact us  */


.bg{
    background-image: url('../img/tobias-a-muller-fusq9KwkSF4-unsplash.jpg');
    height: 745px;
    object-fit: cover;
}
@media only screen and (max-width:1000px){
    .bg{
        height: auto !important;
    }
    .bg-shadow{
        flex-direction: column !important;
        align-items: center !important;
    }
    .title-contact{
        width: 100% !important;
    }
    .inputs{
        width: 100% !important;
    }
    .title-contact p{
        width: 80% !important;
    }
}
.bg-shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74) !important;
}
.title-contact h1{
    font-size: xx-large;
    border-bottom: 5px solid #14BF5F;
    font-weight: 800;
    width: fit-content;
    margin: auto;

}
.title-contact p{
    font-weight: 700;
    font-size: xx-large;
}
input,textarea{
    background: none;
    border-bottom: 5px solid #14BF5F;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

/* about us */


.About_pic img{
    height: 500px;
    object-fit: cover;
}
.About_para p{
    font-size: medium;
    font-weight: 800;
    line-height: 3em;
}
.About_para, .About_team{
    height: fit-content !important;
    border-left: 5px solid   #14BF5F;
    border-right: 5px solid   #14BF5F;
}
.About_team h4{
    font-size: x-large;
    font-weight: 700;
}
.About_team h6{
    font-size: large;
    font-weight: 700;
}
.About_pic_t img{
    height: 400px;
    object-fit: cover;
    width: 380px !important;
    margin: auto !important;

}

 
